@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800&display=swap');

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes message-pop {
  0% {
    opacity: 0;
    transform: translateX(5px) translateY(10px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-5px) translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.chat-message {
  animation: message-pop 0.3s ease-out;
}

